
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.map_canvas { 
  width: 300px; 
  height: 300px; 
  margin: 10px 20px 10px 0;
}

.glyphw{
    background-image: url(/assets/glyphicons_halflings.png);
}

/* normalize search bar vertical pos */ 
.navbar .navbar-search {
  margin-top: 7px;
}

h1 {
  padding-bottom: 30px;
}

html {
  background: url('/assets/home/home_page_cover_photo_1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /* navbar padding top */ 
  padding-top: 80px;
  background: none;
}

.orange_eventy {
  color: $orange_eventy;
}
.blue_eventy {
  color: $blue_eventy;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLight2;
  color: #999;
  a {
    color: #555;
  &:hover {
      color: #222;
  }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
  }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* events */

.listItems {
  list-style: none;
  margin: 0px 0 0px 0;

  li {
    padding: 3px 0 13px;
    border-bottom: 1px solid $grayLight;
  }
}
.description {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* Search bar - when picker */
.ui-dialog.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.noTitleStuff .ui-dialog-titlebar {display:none}

.btn_margin {
	width: 95%;
}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
width: 95%;
}



/* button toggling */

a.down { 
	background: darken($orange_eventy, 5%);
}

/* required asterisk* to a required field label */
label.required:after {
	content: " *";
	color: red
}

/* modify when field in search bar */

#when input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: text;
  background-color: #ffffff;
}