<div class="hero-unit" >
	<% provide(:title, 'About Us') %>
	<br><br>
	<div class="widget">
		<h3 class="bg-primary innerAll half border-bottom margin-none">About us</h3>
		<div class="widget-body row">
			<p>Are you tired with social media that with hundreds of “so-called friends” keep on updating everyday?</p>
			<p>Do you find your interest is uncommon that you cannot find partner among your friends?</p>
			<p>Do you find it’s hard to invite your existing friends to certain event due to their packed schedule?</p>

			<p>Unlike current social media,which focus on linking people together, Eventy is a social discovery tool that helps you to step out from your social circle by meeting new people and finding friends on the basis of common interests and activities. We are addressing this demand in a clear and direct way that would lead to real relationships and experiences and not just mere online talk. Our offer is a set of tools that will allow people to create and browse through various events quickly and efficiently using their electronic devices, while respecting their privacy and personal needs at the same time. The value proposition behind Eventy is to be highly customizable and user-oriented and may find many useful applications in various situations and ultimately – build a strong, friendly and real community.</p>	
	    </div>
	</div>