<div class="hero-unit">
	<div class="row-fluid">
    <%= render 'events/search_with_btn'%>
	</div>
	<br>
	<br>
<div class="row-fluid">
	<div id="what_new" class="span8">
		<%= render 'events/whatsnew' %>
	</div>
	<div id="top_creator" class="span4">
		<%= render 'users/top_creator' %>
	</div>
</div>