<div class="center hero-unit">
	<%= link_to image_tag("frienderylogo.png", alt: "Friendery"), root_path %>
	
	<h2>Welcome to Friendery!!!</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
	

<p>
  This is the home page for friendery sample application.
</p>
