<% if signed_in? %>
<div class="hero-unit">

    <section>
        <%= render 'shared/homepage_search' %>
    </section>
	
	<div>
		<div class="row-fluid">
			<%= link_to "Create Event!", create_path, class: "btn btn-large btn-primary centered offset4 span4"%>
	    </div>
    </div>

	<br>

<% else %>
<div class="hero-unit">

    <section>
        <%= render 'shared/homepage_search' %>
    </section>

	<br>


	<div>
		<div class="row-fluid">
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary centered offset4 span4"%>
	    </div>
    </div>

<% end %>