<div class="hero-unit">
	<h2>Your Notifications</h2>

<% if @friendmsg.any? %>
<%= render :partial => 'messages/friendmsg' %>
<% end %>
<% if @eventmsg.any? %>
<%= render :partial => @eventmsg %>
<% end %>