<div class="hero-unit">
  	<!-- Widget heading -->
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<h3 class="bg-primary innerAll half border-bottom margin-none">Friendship notifications:</h3>
				<% if @friendmsg.any? %>
				<%= render :partial => 'messages/friendmsg' %>
				<% else %>
				<h5>  No friendship notifications.</h5>
				<br>
				<% end %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<h3 class="bg-primary innerAll half border-bottom margin-none">Event notifications:</h3>
				<% if @eventmsg.any? %>
				<%= render :partial => 'messages/eventmsg' %>
				<% else %>
				<h5>  No event notifications.</h5>
				<br>
				<% end %>
			</div>
		</div>
	</div>

