<% @user.each do |f| %>
	<% if f.events.count >= 1 %>
			<div class="media innerLR border-bottom" style="padding-bottom: 20px;">
				  <%= image_tag f.photo_url(:icon) %>
				  <%= link_to f.name, f %>
				<div class="pull-right">
		  			Rate: 
		  			<%= f.rate %>
				</div>
			</div>
	<% else %>
	<% end %>
<% end %>