<div class="hero-unit" >
	<% provide(:title, 'All users') %>
	<h1>All users  (<%= @users.count %>)</h1>

	<%= will_paginate %>

	<ul class="listItems">
	    <%= render @users %>
	</ul>


	<%= will_paginate %>