<div class="hero-unit" >
	<% provide(:title, 'All users') %>
	<h1>All users  (<%= @users.count %>)</h1>

	<ul class="listItems" id="list_items">
	    <%= render @users %>
	</ul>


	<%= will_paginate, renderer: BootstrapPagination::Rails %>