<div class="row">
  <h1 class="span3 offset4"><span class="blue_eventy">Event</span><span class="orange_eventy">y</span></h1>
</div>
<br>
<div class="row-fluid">
  <%= render 'events/search_with_btn'%>
</div>
