<div class="row">
  <h1 class="span3 offset4">Eventy</h1>
</div>
<br>
<br>
<div class="container-fluid">
  <form class="form-inline" action="">
	<div class="row-fluid">
	  <span class="span9">
	    <input type="text" class="span4 input-medium" placeholder="What" />
		<input type="text" class="span4 input-medium" placeholder="When" />
		<input type="text" class="span4 input-medium" placeholder="Where" />
	  </span>
	  <span class="span3">
	  	<button type="submit" class="span10 btn">Search</button>
	  </span>
	</div>
  </form>
</div>
