<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 center-div"><h1><span class="blue_eventy">Event</span><span class="orange_eventy">y</span></h1></div>
  <div class="col-md-4"></div>
</div>
<br><br>
<div class="row">
  <%= render 'events/search_with_btn'%>
</div>
