<div id="dialog">
	<div class="widget">
		<div class="widget-body">
		    <div class="row">
		      	<div class="col-md-8">
		      		<div class="row">
		      			<div class="col-md-12">
		      				<div id="calendar"></div>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="col-md-4">
		      		<br>
	      				<a id="hidden_time_period" style="color:white" href="#">a</a>
		      		<br>
		      		<div class="row">
		      			<div class="col-md-8 col-md-offset-2">
		      				<a class="btn btn-primary btn-large form-control btn_time_period" id="morning" href="#">Morning</a>
		      			</div>
	      			</div>
		      		<br>
		      		<div class="row">
		      			<div class="col-md-8 col-md-offset-2">
		      				<a class="btn btn-primary btn-large form-control btn_time_period" id="afternoon" href="#">Afternoon</a>
		      			</div>
		      		</div>
		      		<br>
		      		<div class="row">
		      			<div class="col-md-8 col-md-offset-2">
	      					<a class="btn btn-primary btn-large form-control btn_time_period" id="night" href="#">Night</a>
		      			</div>
		      		</div>	
		      		<br>
		      		<input type="hidden" id="time_period_text" value="" />
		      	</div>
		    </div>
		</div>
		<div class="widget-body">
		    <div class="row">
		      	<div class="col-md-6">
					<div class="row">
			  			<div class="col-sm-offset-1 col-sm-6">
								<input type="text" placeholder="Target event date" class="form-control" id="datepicker_text" readonly="true" />
						</div>
			  			<div class="col-sm-4">
					  		<label id="clear_date" class="btn btn-white form-control">Clear
					  		</label>
			  			</div>
					</div>
				</div>
		      	<div class="col-md-6">
					<div class="row">
		      			<div class="col-sm-4 col-sm-offset-4">
				      		<input type="submit" id="dialog_btn_submit" class="btn btn-primary form-control"  value="Confirm" />
				      	</div>
				      	<div class="col-sm-4">
				      		<input type="button" id="dialog_btn_cancel" class="btn btn-white form-control" value="Cancel"/>
				      	</div>
				    </div>
		      	</div>
			</div>
		</div>
	</div>
</div>


      <script type="text/javascript">
        $(function() {
        	$( "#calendar" ).datepicker({
              format: "yyyy-mm-dd"
        	})
        	.on('changeDate', function(ev) {
        		$('#datepicker_text').val($.datepicker.formatDate('yy-mm-dd', ev.date));
        	});

        	$( '#datepicker_text').val("");
		    $( "#clear_date" ).click(function() {
        		$( '#datepicker_text').val("");
		    });

		    $( "#dialog" ).dialog({
		    	autoOpen: false,
		      	show: {
			        effect: "fade",
			        duration: 300
		      	},
		     	hide: {
			        effect: "fade",
			        duration: 300
		      	},
		    	height: 450,
			    width: 650,
			    resizable: false
		    });

		    $( "#when_field" ).click(function() {
		      $( "#dialog" ).dialog( "open" );
		      return false;
		    });

		    $( "#dialog_btn_cancel" ).click(function() {
		    	$( "#dialog" ).dialog( "close" );
		    });

		    $( "#dialog_btn_submit" ).click(function() {
		    	result = $( "#datepicker_text" ).val();
		    	time_period = $( "#time_period_text" ).val();
		    	if (result == "") {
		    		result = $( "#time_period_text" ).val();
		    	}
		    	else if (time_period != "") {
		    		result = result + " | " + time_period;
		    	}
		    	$( "#when" ).val(result);
		    	$( "#dialog" ).dialog( "close" );
		    });

		    $( ".btn_time_period" ).click(function() {
			    if ($( "#time_period_text" ).val() == $(this).html()) {
			    	$( "#time_period_text" ).val("");
			    }
			    else {
			    	$( "#time_period_text" ).val($(this).html());
			    }

			     idClick = $(this).attr("id");
			     varthis = $(this);

			     if ($(this).hasClass("btn-primary-down")){
			         $(this).removeClass("btn-primary-down");
			     }
			     else{
			         $("a.btn_time_period").removeClass("btn-primary-down");
			         $(this).addClass("btn-primary-down");
			     }
		    	return false;
		    });

		});
	</script>