<li>
  <span class="content"><%= event.title %></span>
  <br>
  <span class="content"><%= event.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>