<div id="join_form">
<% status = @event.join?(current_user) %>
<% if status == 'approved' %>
  <%= render 'unjoin' %>
<% elsif status == 'pending' %>
  Pending for event creator's approval!
<% else %>
  <%= render 'join' %>
<% end %>
</div>