<li>
  <%= image_tag @joinedevent.avatar_url(:thumbnail) %>
  <br>
  <%= link_to @joinedevent.title, @joinedevent%>
  <br>
  <span class="content"><%= @joinedevent.description %></span>
  <br>
  <span class="timestamp">
    Joined <%= time_ago_in_words(@createTime) %> ago.
  </span>
</li>
