
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.glyphw{
    background-image: url(/assets/glyphicons_halflings.png);
}

/* normalize search bar vertical pos */ 
.navbar .navbar-search {
  margin-top: 7px;
}

h1 {
  padding-bottom: 30px;
}

body {
  /* navbar padding top */ 
  padding-top: 80px;                                                   
  /* background photo */
  background-image: url('/assets/home/home_page_cover_photo_1.jpg'); 
  background-size: 1600px 1100px;
  background-attachment:fixed;
}

.orange_eventy {
  color: $orange_eventy;
}
.blue_eventy {
  color: $blue_eventy;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLight2;
  color: #999;
  a {
    color: #555;
  &:hover {
      color: #222;
  }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
  }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* events */

.listItems {
  list-style: none;
  margin: 0px 0 0px 0;

  li {
    padding: 3px 0 13px;
    border-bottom: 1px solid $grayLight;
  }
}
.description {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}