<footer id="footer">
  <small>
    <a href="friendery-blog.herokuapp.com/static_pages/home">Friendery</a>
    by Eventy Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>