<footer id="footer">
  <small>
    <a href="eventy.herokuapp.com/static_pages/home">Eventy</a>
    <span>by Eventy Team</span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>